.coffee{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-width: 1px;
}
